// Mixins, Fonts, Vars, Mini reset
@import "utilities.less";

// LAYOUT
html {font-size:62.5%;}

body {background:#f7f7f7;color:@colorTxtDefault;
  line-height:1.55;
  ._font-size(1.4);
}

// HEADER

// HOME

// EDITO

// FOOTER


.btn {vertical-align:middle;text-align:center;min-height:36px;text-decoration:none;background:@colorTestStyleGuide;color:#fff;position:relative;border:1px solid transparent;display:inline-block;padding:6px 13px;border-radius: 3px;-webkit-appearance:none; font-family:@Arial;font-weight:300;._font-size(1.4);cursor:pointer;
   // transition:all 100ms ease;

  &:hover {background:darken(@colorTestStyleGuide,5%)}
  &:active {top:1px;background:darken(@colorTestStyleGuide,8%)}
  &.btn-no-hover:hover {}
}


//@import "plugins.less";
//@import "mobile.less";
//@import "print.less";
